{% load define_action %}
<div>
    {% for subgroup in studygroup.subgroups.all %}
        {% with subgroup.get_schedule as schedule %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Пара</th>
                        <th scope="col">*</th>
                        <th scope="col">**</th>
                    </tr>
                </thead>
                {% for dayName, day in schedule.items %}
                    <tbody>
                        <tr><th scope="row"></th><td>{{ week_days|lookup:dayName }}</td><td></td></tr>
                    </tbody>
                    <tbody>
                        {% for pos, value in day.items %}
                            <tr>
                                <th scope="row">{{ pos }}</th>
                                <td>
                                    {% if value.not_even %}
                                        {{ value.not_even }}
                                    {% else %}
                                        <button class="position-{{ pos }}-day-{{ dayName }}-group-{{ subgroup.pk }}-is_even-False btn btn-primary" type="button" name="button">Добавить пару</button>
                                        <script>
                                            document.addEventListener("DOMContentLoaded", () => {
                                                $(document).ready(function() {
                                                    $(".position-{{ pos }}-day-{{ dayName }}-group-{{ subgroup.pk }}-is_even-False").modalForm({
                                                        formURL: "{% url 'create_schedule' %}?position={{ pos }}&day={{ dayName }}&group={{ subgroup.pk }}&is_even="
                                                    });
                                                });
                                            })
                                        </script>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if value.even %}
                                        {{ value.even }}
                                    {% else %}
                                        <button class="position-{{ pos }}-day-{{ dayName }}-group-{{ subgroup.pk }}-is_even-True btn btn-primary" type="button" name="button">Добавить пару</button>
                                        <script>
                                            document.addEventListener("DOMContentLoaded", () => {
                                                $(document).ready(function() {
                                                    $(".position-{{ pos }}-day-{{ dayName }}-group-{{ subgroup.pk }}-is_even-True").modalForm({
                                                        formURL: "{% url 'create_schedule' %}?position={{ pos }}&day={{ dayName }}&group={{ subgroup.pk }}&is_even=true"
                                                    });
                                                });
                                            })
                                        </script>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endfor %}
            </table>
        {% endwith %}
    {% endfor %}
</div>