{% extends 'base.html' %}

{% block content %}
    <h1>Hello world!</h1>
    <div>
        <a href="{% url 'test_docs' %}">test</a>
        <li>
            {% for institute_agent in institute_agents %}
                <ul><a href="{% url 'institute_detail' pk=institute_agent.institute.pk %}">Представитель {{ institute_agent.institute }}</a> ({{institute_agent.uuid}})</ul>
            {% endfor %}
        </li>
    </div>
{% endblock content %}