{% extends 'base.html' %}

{% block content %}
    
    <div class="col-sm-10 mt-3">
        <h1>Институт {{ institute }}</h1>
        <h3>Список групп</h3>
        <div class="col-sm-6">
            <button class="create-group btn btn-primary" type="button" name="button">Создать группу</button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Кольчество студентов</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group in institute.study_groups.all %}
                        <tr>
                            <th scope="row"><a href="{% url 'study_group_detail' pk=group.pk %}">{{ group }}</a></th>
                            <td>{{ group.students.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-sm-6">
            <h3>Список преподавателей</h3>
            <button class="create-teacher btn btn-primary" type="button" name="button">Добавить преподавателя</button>
            <table class="table">
                <tbody>
                    {% for teacher in institute.teachers.all %}
                        <tr>
                            <th scope="row"><a href="{% url 'teacher_detail' pk=teacher.pk %}">{{ teacher }}</a> {% if not teacher.user_profile %}{{teacher.uuid}}{% endif %}</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block sub_scripts %}
    <script type="text/javascript">
      $(document).ready(function() {
        $(".create-group").modalForm({
          formURL: "{% url 'create_group' pk=institute.pk %}"
        });
      });
      $(document).ready(function() {
        $(".create-teacher").modalForm({
          formURL: "{% url 'create_teacher' pk=institute.pk %}"
        });
      });
    </script>
{% endblock sub_scripts %}