{% extends 'base.html' %}

{% block content %}
    <div class="col-sm-10 mt-3">
        <h1>Cтудент {{ student }}</h1>
        {% if student.studentticket_set.first %}
            {% with student.studentticket_set.first as student_ticket %}
                <h3>Студенческий</h3>
                <div>
                    <span>Номер: {{ student_ticket.code }}</span>
                    <img src="{{ student_ticket.scan }}" alt="скан">
                </div>
                <button class="update-student-ticket btn btn-primary" type="button" name="button">Изменить студенческий</button>
            {% endwith %}
        {% else %}
            <button class="create-student-ticket btn btn-primary" type="button" name="button">Добавить студенческий</button>
        {% endif %}
        {% if student.librarycard_set.first %}
            {% with student.librarycard_set.first as library_card %}
                <h3>Читательский</h3>
                <div>
                    <span>Номер: {{ library_card.code }}</span>
                    <img src="{{ library_card.scan_front }}" alt="скан спереди">
                    <img src="{{ library_card.scan_back }}" alt="скан сзади">
                </div>
                <button class="update-library-card btn btn-primary" type="button" name="button">Изменить читательский</button>
            {% endwith %}
        {% else %}
            <button class="create-library-card btn btn-primary" type="button" name="button">Добавить читательский</button>
        {% endif %}
        <h4>Расписания</h4>
        {% with student.study_group as studygroup %}
            {% include 'schedule.html' %}
        {% endwith %}
    </div>
{% endblock content %}


{% block sub_scripts %}
    <script type="text/javascript">
        {% if student.studentticket_set.first %}
            $(document).ready(function() {
                $(".update-student-ticket").modalForm({
                    formURL: "{% url 'update_student_ticket' pk=student.studentticket_set.first.pk %}"
                });
            });
        {% else %}
            $(document).ready(function() {
                $(".create-student-ticket").modalForm({
                    formURL: "{% url 'create_student_ticket' pk=student.pk %}"
                });
            });
        {% endif %}

        {% if student.librarycard_set.first %}
            $(document).ready(function() {
                $(".update-library-card").modalForm({
                    formURL: "{% url 'update_library_card' pk=student.librarycard_set.first.pk %}"
                });
            });
        {% else %}
            $(document).ready(function() {
                $(".create-library-card").modalForm({
                    formURL: "{% url 'create_library_card' pk=student.pk %}"
                });
            });
        {% endif %}
    </script>
{% endblock sub_scripts %}