{% extends 'base.html' %}

{% block content %}
    
    <div class="col-sm-10 mt-3">
        <h1>Группа {{ studygroup }}</h1>
        <h3>Список группы</h3>
        <button class="create-student btn btn-primary" type="button" name="button">Добавить студента</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Имя</th>
                </tr>
            </thead>
            <tbody>
                {% for student in studygroup.students.all %}
                    <tr>
                        <th scope="row"><a href="{% url 'student_detail' pk=student.pk %}">{{ student }}</a> {% if not student.user_profile %}{{ student.uuid }}{% endif %}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Расписания</h4>
        <button class="create-subgroup btn btn-primary" type="button" name="button">Добавить расписание</button>
        {% include 'schedule.html' %}
    </div>
{% endblock content %}

{% block sub_scripts %}
    <script type="text/javascript">
      $(document).ready(function() {
        $(".create-student").modalForm({
          formURL: "{% url 'create_student' pk=studygroup.pk %}"
        });
      });
      $(document).ready(function() {
        $(".create-subgroup").modalForm({
          formURL: "{% url 'create_subgroup'%}?group={{ studygroup.pk }}"
        });
      });
    </script>
{% endblock sub_scripts %}