{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-sm-8">

        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <legend>тест</legend>
            {{ form|crispy }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Продолжить</button>
            </div>
        </form>
</div>
{% endblock content %}