{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-sm-10">
        <p>Logget out!</p>
        <a href="{% url 'login' %}">Click here to login again.</a>
    </div>
{% endblock content %}