{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="col-sm-8">
        {% if form.errors %}
            <p>Ваше имя пользователя и пароль не корректны. Пожалуйста, попробуйте еще раз.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p class="text-warning">Ваша учетная запись не имеет доступа к этой странице. Чтобы продолжить, пожалуйста, войдите в систему с учетной записью, которая имеет доступ.</p>
            {% else %}
                <p class="text-warning">Пожалуйста, войдите, чтобы увидеть эту страницу.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <legend>Логин</legend>
            {{ form|crispy }}
            <div class="form-actions">
        
                <input type="hidden" name="next" value="{{ next }}" />
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </form>

        <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
        <p><a href="{% url 'sign_up' %}">Создать учетную запись</a></p>
    </div>

{% endblock %}