{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        {{ form|crispy }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Сбросить пароль</button>
            </div>
    </form>
{% endblock content %}