{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    {% if validlink %}
        <p>Пожалуста, введите новый пароль.</p>
        <form action="" method="post">
        {% csrf_token %}
            {{ form|crispy }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Изменить пароль</button>
            </div>
        </form>
    {% else %}
        <h1>Смена неудалась</h1>
        <p>Эта ссылка уже была использована.</p>
    {% endif %}
{% endblock %}