{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <div class="col-sm-8">

        <form method="post" action="">
            {% csrf_token %}
            <legend>Регистрация</legend>
            {{ form|crispy }}
            <div class="form-actions">
        
                <input type="hidden" name="next" value="{{ next }}" />
                <button type="submit" class="btn btn-primary">Продолжить</button>
            </div>
        </form>

        <p><a href="{% url 'login' %}">Войти</a></p>
    </div>

{% endblock %}