{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <title>MyMultitools</title>

    <script src="{% static 'js/qrcode.min.js' %}"></script>
  </head>
  <body>
    {% include "_modal.html" %}
    <div class="container-fluid">
      <div class="row">
        {% include 'navbar.html' %}
      </div>
      {% block content %}
      {% endblock content %}
    </div>
    {% if user.is_authenticated %}
      <div class="fixed-bottom">
        <div id="qrcode"></div>
        <script type="text/javascript">
          document.addEventListener("DOMContentLoaded", () => new QRCode(document.getElementById("qrcode"), "{{ user.profile.uuid }}"));
        </script>
      </div>
    {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".get-agent").modalForm({
          formURL: "{% url 'get_agent' %}"
        });
      });
      $(document).ready(function() {
        $(".get-student").modalForm({
          formURL: "{% url 'get_student' %}"
        });
      });
      $(document).ready(function() {
        $(".get-teacher").modalForm({
          formURL: "{% url 'get_teacher' %}"
        });
      });
    </script>
    {% block sub_scripts %}
    {% endblock sub_scripts %}
  </body>
</html>