{% load define_action %}
{% if user.is_authenticated %}
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link active">Домашняя страница</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Action</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Мои роли</a>
            <div class="dropdown-menu">
                {% if user.profile.students.all %}
                    {% for student in user.profile.students.all %}
                        <a class="dropdown-item" href="{% url 'student_detail' pk=student.pk %}">Студент {{ student.study_group }}</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                {% endif %}

                {% if user.profile.teachers.all %}
                    {% for teacher in user.profile.teachers.all %}
                        <a class="dropdown-item" href="{% url 'teacher_detail' pk=teacher.pk %}">Преподаватель {{ teacher.institute }}</a>
                    {% endfor %}
                    <div class="dropdown-divider"></div>
                {% endif %}

                {% if user.profile.institute_agents.all %}
                    {% for institute_agent in user.profile.institute_agents.all %}
                        <a class="dropdown-item" href="{% url 'institute_detail' pk=institute_agent.institute.pk %}">Представитель {{ institute_agent.institute }}</a>
                    {% endfor %}
                {% endif %}
                <button class="get-agent btn btn-primary dropdown-item" type="button" name="button">Стать агентом</button>
                <button class="get-student btn btn-primary dropdown-item" type="button" name="button">Стать студентом</button>
                <button class="get-teacher btn btn-primary dropdown-item" type="button" name="button">Стать преподавателем</button>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Представители</a>
            <div class="dropdown-menu">
                <button class="create-agent btn btn-primary dropdown-item" type="button" name="button">Добавить представителя</button>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        $(document).ready(function() {
                            $(".create-agent").modalForm({
                                formURL: "{% url 'create_agent' %}"
                            });
                        });
                    })
                </script>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Уч заведения</a>
            <div class="dropdown-menu">
                <button class="create-institute btn btn-primary dropdown-item" type="button" name="button">Добавить заведение</button>
                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        $(document).ready(function() {
                            $(".create-institute").modalForm({
                                formURL: "{% url 'create_institute' %}"
                            });
                        });
                    })
                </script>
            </div>
        </li>
        {% endif %}
    </ul>
    <span class="navbar-text">
        {{ user.profile }}
    </span>
{% endif %}